<div class="row" id="titreid">
    <div id="intro">
        <h1 class="text-center" id="introid">Conway's Game of Life</h1>
    </div>




    <!-- le contenu masqué -->

    <div class="row">
        <h2 class="text-center">exemple en TypeScript/Angular2/NodeJS/Express</h2>
        <div class="well">

            <app-canvas-grid [cellsstart]="cellsstart" [cellsNumb]="cellsNumb" [viecells]="viecells"></app-canvas-grid>
        </div>
    </div>
</div>
<button class="btn btn-primary col-md-offset-6" id="config" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  Configuration
</button>
<div class="collapse" id="collapseExample">
    <div class="well">

        <div class="panel panel-default" id="panel2">
            <div class="panel-heading">


            </div>
            <div class="panel-body">
                <div class="input-group">

                    <input [(ngModel)]="this.cellsstart" this.cellsstart="this.cellsstart" class="form-control" type="text" placeholder="cellules de départ" id="cellsVal" name="cellsstart" value="50" />

                    <input [(ngModel)]="this.cellsNumb" this.cellsNumb="this.cellsNumb" class="form-control" type="text" placeholder="taille d'un coté" id="cellsNum" name="cellswide" value="50" />



                    <input class="form-control text-left" type="text" name="vieCellules" id="mortcells1" [(ngModel)]="this.viecells" this.viecells="this.viecells" placeholder="nombre de cellules pour revenir à la vie" value="3" />
                </div>
                <div class="input-group">
                    <input type="text" name="nomconfig" placeholder="nom de votre configuration" [(ngModel)]="this.configName" this.configName="this.configName" />

                </div>


                <button class="btn btn-primary" type="button" (click)="save()">sauvegarder</button>
                <button class="btn btn-primary" type="button" (click)="test()">charger</button>
                <button class="btn btn-primary center-block" type="button" id="validation" (click)="setup3()">valider configuration</button>
                <div class="btn-group center-block" role="group" aria="....">
                    <button class="btn btn-lg center-block perso1" type="button" (click)="this.slowTimer()"><span class="glyphicon glyphicon-backward" aria-hidden="true"></span></button>
                    <button class="btn btn-lg center-block perso1" type="button" (click)="this.startTimer()"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
                    <button class="btn btn-lg center-block perso1" type="button" (click)="this.stopTimer()"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span></button>
                    <button class="btn btn-lg center-block perso1" type="button" (click)="this.fastTimer()"><span class="glyphicon glyphicon-forward" aria-hidden="true"></span></button>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    body {
        font-family: 'Quicksand', sans-serif;
        border: 0;
        padding: 0;
        background-color: #b3cccc;
        margin: 0;
    }
    
    #intro {
        position: relative;
        width: 100%;
        height: 30vh;
        text-align: center;
        background: url(http://math.pc.vh.free.fr/divers/life/graphics/gospers_breeder.gif);
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        margin-top: 0;
    }
    
    #config {
        margin-top: -1.5%;
        z-index: 10;
        position: absolute;
        text-align: center;
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 100%;
        transform: translateY(-20%);
        transform: translateX(-50%);
    }
</style>